input.searchbar {
  color         : var(--green-5);
  border        : 3px dashed var(--green-5);
  background    : transparent;
  width         : 300px;
  height        : 30px;
  outline       : none;
  font-size     : 22px;
  padding       : 5px;
  border-radius : 3px;
  margin-bottom : 1rem;
  caret-color   : deeppink;
}


input.searchbar::placeholder {
  font-family: 'Yeseva One', cursive;
  color: var(--green-5);
  opacity: 0.7;
}
