.food-table-container {
  position  : relative;
  top       :      100px;
  margin    : auto 15px;
}

input[type='text'] {
  color          : white;
  outline        : none;
  border         : none;
  font-size      : 16px;
  background     : transparent;
  width          : 100%;
}

input[type='text']::placeholder {
  color   : white;
  opacity : 0.4;
}

input.category-input {
  font-size: 22px;
}

input.category-input::placeholder {
  font-size: 22px;
}

.food-table {
  width           : 100%;
  border-collapse : collapse;
  margin          : auto;
}

table {
  border: none;
}

th, td {
  width: 33%;
  padding: 5px;
}

.category-section {
  overflow      : hidden;
  border-radius : 5px;
  margin-top    : 15px;
  border        : 3px solid deeppink;
}

.food-row {
  padding: 5px;
}

.food-row.yes {
  background: var(--green-1);
}

.food-row.maybe {
  background: var(--orange-1);
}

.food-row.no {
  background: var(--red-1);
}

.category-row {
  background : deeppink;
  padding    : 5px;
}

.create-category-row {
}

.editing {
  border: 2px dashed white;
}
