.food-table-container {
  margin: auto 15px;
}

.create-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.food-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;

}

tr, th, td {
  border: 1px solid black;
}
